@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
    background: #F4E7CA;
    font: 10px;
    /* background-image: url(https://outline-prod.imgix.net/20180806-ZgUFNT76zhxJYQx0bgaL?s=e5e3692dab46d16530231856c729741a?auto=format&q=60&w=1280&s=984c295b9bd863921f03504221dca666&duotone=04284A,CE2C36);
    background-repeat: no-repeat;
    background-position: center; */


}



